.second-block {
  padding: 11rem 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    width: 2px;
    height: 83px;
    background-color: #7935b2;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    left: calc(50% + 11px);
    bottom: -60px;
  }

  &__text {
    color: #5e606a;
    font-size: 1.4rem;
    margin-bottom: 2.8rem;
    line-height: 1.7em;
  }

  &__subtitle {
    margin: 5.7rem 0 4.5rem;
  }

  &__content-img {
    background-image: url(../img/all-moving.png);
    background-size: 53.7rem 48.3rem;
    width: 58rem;
    height: 57.4rem;
    background-repeat: no-repeat;
  }
}
