.second-block {
    padding: 11rem 0;

    &__text {
        color: #5e606a;
        font-size: 1.4rem;
        margin-bottom: 3.5rem;
        line-height: 1.7em;
    }

    &__subtitle {
        margin: 8rem 0 7rem;
    }
}