.review-block {
  padding: 11rem 0;
  position: relative;

  &__img-box {
    width: 20rem;
  }

  &__img {
    width: 100%;
  }

  &__slider {
    margin-top: 6rem;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      box-shadow: 0 0px 20px 20px #fff;
    }

    &:before {
      left: 0;
      z-index: 5;
    }

    &:after {
      right: 0;
      z-index: 5;
    }
  }

  &__text {
    font-size: 1.6rem;
    color: #5e606a;

    &_fw_bold {
      font-weight: bold;
    }
  }
}

.swiper-slide {
  width: 80%;
}