div.first-block
  div.inner-wrapper
    header.first-block__header
      a(href="index.html" class="first-block__header-logo") artactive
      nav.first-block__nav
        ul.first-block__list
          li.first-block__list-item
            a(href="#" class="first-block__list-link") О нас
          li.first-block__list-item
            a(href="#" class="first-block__list-link") Услуги
          li.first-block__list-item
            a(href="#" class="first-block__list-link") Отзывы
          li.first-block__list-item
            a(href="#" class="first-block__list-link") FAQ
          li.first-block__list-item
            a(href="#" class="first-block__list-link") Контакты
      a(class="first-block__header-phone" href="tel:+7 (920) 148 81 31") +7 (920) 148 81 31
      a(class="first-block__order-phone" href="#") Заказать звонок
    div.first-block__content
      div.first-block__content-img
      div.first-block__content-title
        h1 Размер
          <br/> не имеет
          <br/> значения!
        p Оперативная полиграфия и щирокоформатная печать любого размера
        div
          a(href="Заказать печать") Заказать печать
          span с доставкой по Ярославлю и Ярославской области