div.five-block
  div.inner-wrapper
    div.five-block__flex-box
      div(class="main-content five-block__content")
        section(class="main-content-two five-block__content-title")
          header
          h3(class="subtitle subtitle_margins five-block__subtitle") Оперативная полиграфия - от визитки до баннера
          p.four-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi culpa cupiditate eaque eligendi exercitationem nobis quis quod rerum temporibus! Ad debitis dolorem, est eum laboriosam nemo officia perferendis quaerat quis reprehenderit unde veritatis! Alias aliquid dolor omnis, rerum sed sit vero. A ab amet atque blanditiis culpa, deleniti distinctio eum ex, illo ipsam laborum modi, necessitatibus nisi odio odit!
          p.four-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum dolore illum impedit magni natus quisquam repellendus saepe veritatis voluptates.
          form.questions-form
            span.questions-form__text
              p.questions-form__any Есть вопросы?
              p.questions-form__order-consult Оставьте заявку на консультацию
            input(class="questions-form__input" name="name" type="text" placeholder="Имя")
            input(class="questions-form__input" name="tel" type="tel" placeholder="Телефон")
            button(href="#" type="submit" class="order-btn order-btn_float_r five-block__order-btn") Отправить
        div.five-block__main-img
