div.four-block
  div.inner-wrapper
    div(class="main-content four-block__content")
      section(class="main-content-two four-block__content-title")
        h3(class="subtitle subtitle_margins four-block__subtitle") Широкоформатная печать для вашего интерьера
        p.four-block__text Печатаем широкоформатные фотографии на глянцевой и матовой фотобумаге разной плотности, на глянцевом и матовом холсте или самоклеющейся пленке. Также можем предложить обработку и редактирование ваших фотографий силами наших дизайнеровЖ композиции, фотоколлаж, ретушь, различные эффекты
        a(href="#" class="order-btn") Оставить заявку