div.review-block
  div.inner-wrapper
    section.review-block__main
      h3.violet-title 3. Отзывы
      div.review-block__slider
        div.review-block__slider-item
         div.review-block__img-box
           img(class="review-block__img" src="../../img/maksim.png")
         article
           p(class="review-block__text") Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне все объяснили, показали и сделали по высшему разояду
           p(class="review-block__text review-block__text_fw_bold") Александров Максим, 24 года
           a(href="https://google.com") vk.com
        div.review-block__slider-item
          div.review-block__img-box
            img(class="review-block__img" src="../../img/maksim.png")
          article
            p(class="review-block__text") Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне все объяснили, показали и сделали по высшему разояду
            p(class="review-block__text review-block__text_fw_bold") Александров Максим, 24 года
            a(href="https://google.com") vk.com
        div.review-block__slider-item
          div.review-block__img-box
            img(class="review-block__img" src="../../img/maksim.png")
          article
            p(class="review-block__text") Обратился в компанию АртАктив за визитками. Это мой первый опыт, поэтому немного нервничал, не знал, с чего начать. Остался доволен, потому что мне все объяснили, показали и сделали по высшему разояду
            p(class="review-block__text review-block__text_fw_bold") Александров Максим, 24 года
            a(href="https://google.com") vk.com
