div.first-block__content
  div.first-block__content-img
  div.first-block__content-title
    h1.first-block__title-h1 Размер
      <br/> не имеет
      <br/> значения!
    p.first-block__p Оперативная полиграфия <br/>  и широкоформатная печать любого размера
    div.first-block__order-box
      a(class="order-btn" href="Заказать печать") Заказать печать
      span.first-block__order-text с доставкой по Ярославлю и Ярославской области