div.second-block
  div.inner-wrapper
    div(class="main-content second-block__content")
      div(class="main-content-one second-block__content-img")
      section(class="main-content-two second-block__content-title")
        header
          h2.violet-title 1. О нас
        h3(class="subtitle second-block__subtitle") Полный спектр услуг - от дизайна до печати
        p.second-block__text К вашим услугам мы предалагем полный спектр работ, начиная от печати открыток, чертежей, баннеров, растяжек, создания буклетов и эксклюзивных календарей, и заканчивая постпечатной обработкой.
        p.second-block__text В копицентре не просто предоставляют услуги печати: мы ориентируемся на комплексное обслуживание. Все услуги, будь то оперативная цифровая печать открыток или разработка серии календарей, Вы можете получить в одном месте, воспользовавшись сопутствующими услугами копицентра.
        p.second-block__text При этом работа выполняется в максимально сжатые сроки и не в ущерб качеству конечного результата, которое неизменно остается на высоте
