div.third-block
  div.inner-wrapper
    div.third-block__flex-box
      div(class="main-content third-block__content")
        section(class="main-content-two third-block__content-title")
          header
            h2.violet-title 2. Услуги
          h3(class="subtitle subtitle_margins third-block__subtitle") Широкоформатная печать баннеров, растяжек, афиш
          ul.third-block__list
            li.third-block__list-item подготовка макетов к печати, дизайн рекламных баннеров
            li.third-block__list-item срочная печать за 3 часа
            li.third-block__list-item проварка карманов и сварка нескольких изображений
            li.third-block__list-item пробивка люверсов и вварка монтажных троссов
            li.third-block__list-item изготовление цветопробы
            li.third-block__list-item доставка баннеров
          div.questions
              span.questions__text
                p.questions__any Есть вопросы?
                p.questions__order-consult Закажите консультацию
              a(href="#" class="order-btn order-btn_float_r") Заказать
      div(class="third-block__slider")
        div.third-block__slider-img
          img(src="../../img/slider_1.jpg")
        div.third-block__slider-img
          img(src="../../img/slider_2.jpg")
        div.third-block__slider-img
          img(src="../../img/slider_3.jpg")
        div.third-block__slider-img
          img(src="../../img/slider_4.jpg")