.first-block {
  background-image: url("../img/1_bg.png");
  background-size: 192rem 94.1rem;
  background-position: center;
  background-repeat: no-repeat;
  height: 94.1rem;

  &__header {
    text-transform: uppercase;
    height: 4rem;
    padding-top: 6rem;
    box-sizing: content-box;
    letter-spacing: 0.6px;
  }

  &__nav {
    padding-top: 0.5rem;
  }

  &__nav,
  &__list-item {
    display: inline-block;
  }

  &__list {
    margin-left: 13.5rem;
  }

  &__list-item {
    margin-right: 5.5rem;
  }

  &__header-logo {
    font-size: 1.8em;
    font-weight: 800;
    float: left;
  }

  &__list-link {
    font-size: 1.3em;
    font-weight: 600;
  }

  &__header-phone {
    font-size: 1.6em;
    font-weight: 700;
    margin-right: 35px;
  }

  &__order-phone {
    font-size: 1.1em;
    font-weight: 800;
    border: 2px solid #fff;
    display: inline-block;
    height: 3.4rem;
    width: 16.5rem;
    text-align: center;
    padding-top: 0.7rem;
    border-radius: 19px;
    float: right;
    transition: 0.4s ease;

    &:hover {
      background-color: #fff;
      color: #7935b2;
    }
  }

  &__title-h1 {
    font-size: 6rem;
    font-weight: 800;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content-img {
    width: 50%;
    background-image: url("../img/main-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 60rem;
  }
}
