doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title ArtActive
  body
    div.first-block
      main.wrapper
        header.first-block__header
          a(href="#" class="first-block__header-logo") artactive
          nav
            ul
              li
                a(href="#") О нас
              li
                a(href="#") Услуги
              li
                a(href="#") Отзывы
              li
                a(href="#") FAQ
              li
                a(href="#") Контакты
          a(href="tel:+7 (920) 148 81 31") +7 (920) 148 81 31
          a(href="#") Заказать звонок
        div.first-block__content
          div.first-block__content-img
          div.first-block__content-title
            h1 Размер
              br не имеет
              br значения!
            p Оперативная полиграфия и щирокоформатная печать любого размера
            div
              a(href="Заказать печать") Заказать печать
              span с доставкой по Ярославлю и Ярославской области

        footer
