@import "variables";
@import "mixins";
@import "fonts";
@import "blocks/order-btn";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body,
html {
  font-size: calc(6px + 100vw / 480);
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  max-width: 192rem;
  margin: 0 auto;
}

.inner-wrapper {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.main-content {
  position: relative;

  &-one {
    position: absolute;
  }

  &-two {
    width: 51.3rem;
    margin: 0 0 0 auto;
  }
}

.violet-title {
  color: #7f38bd;
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  color: #383d52;
  font-size: 3.2rem;
  font-weight: 700;
}

@import "first-block/first-block";
@import "second-block/second-block";
